{% extends 'store/main.html' %} 
{% load static %}
{% block content %}
<a style="margin-left: 20px;font-family: 'Poiret One', cursive; font-size: 18px; text-decoration: none;">In basket: {{cartItems}}</a>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store' %}" style="font-family: 'DM Sans', sans-serif; font-size: 18px; background: #CF0000;
            background: linear-gradient(to right, #CF0000 0%, #FF4D94 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5 style="font-family: 'DM Sans', sans-serif; font-size: 20px;">Items: <strong style="font-family: 'Raleway', sans-serif; font-size: 18px;">{{order.get_cart_items}}</strong></h5>
                    </th>
                    <th>
                        <h5 style="font-family: 'DM Sans', sans-serif; font-size: 20px;">Total: <strong style="font-family: 'Raleway', sans-serif; font-size: 18px;">${{order.get_cart_total}}</strong></h5>
                    </th>
                    <th>
                        <a style="float:right; margin:5px; font-family: 'DM Sans', sans-serif; font-size: 18px;" class="btn btn-danger" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2; font-family: 'DM Sans', sans-serif; font-size: 18px; background: #CF0000;
                background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"><strong>Item</strong></div>
                <div style="flex:1; font-family: 'DM Sans', sans-serif; font-size: 18px; background: #CF0000;
                background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"><strong>Price</strong></div>
                <div style="flex:1; font-family: 'DM Sans', sans-serif; font-size: 18px; background: #CF0000;
                background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"><strong>Quantity</strong></div>
                <div style="flex:1; font-family: 'DM Sans', sans-serif; font-size: 18px; background: #CF0000;
                background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"><strong>Total</strong></div>
            </div>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src={{item.product.imageURL}}></div>
                <div style="flex:2; font-family: 'Poiret One', cursive; font-size: 18px;">{{item.product.name}}</div>
                <div style="flex:1; font-family: 'Poiret One', cursive; font-size: 18px;">${{item.product.price}}</div>
                <div style="flex:1">
                    <p class="quantity" style="font-family: 'Poiret One', cursive; font-size: 18px;">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/up.jpg' %}">
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/down.jpg' %}">
                    </div>
                </div>
                <div style="flex:1; font-family: 'Poiret One', cursive; font-size: 18px;"><p>${{item.get_total}}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}