{% extends 'store/main.html' %} 
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4" style="padding-bottom: 15px; padding-left: 15px; padding-right: 15px; font-family: 'Quicksand', sans-serif;">
        <img class="thumbnail" src="{{product.image.url}}" width="320px">
        <div class="box-element product">
            <h6 style="margin-top: 15px; font-family: 'DM Sans', sans-serif; font-size: 18px;"><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" onClick="showMessage()">To Basket</button>
            <a class="btn btn-outline-danger" href="{% url 'cart' %}">View</a>
            <h4 style="display: inline-block; margin-left: 170px; font-family: 'DM Sans', sans-serif; font-size: 18px;"><strong>${{product.price}}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
<hr>

{% endblock content %}