{% extends 'store/main.html' %} 
{% load static %}
{% block content %}
<div class="locations">
    <div style="display: flex; margin-left: 70px; margin-top: 20px;">
        <div style="margin-left: 100px; margin-top: 20px;">
            <h4 style="font-family: 'Varela Round', sans-serif; background: #CF0000;
            background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Paris</h4>
            <p style="font-family: 'Quicksand', sans-serif; margin-top: 10px;">93350 Le Bourget, France</p>
            <p style="font-family: 'Quicksand', sans-serif;">Monday-Friday, 9:30am - 7pm</p>
            <a href="https://www.google.com/maps/place/Carrefour+Charles+Lindbergh,+93350+Le+Bourget,+%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%8F/@48.9446858,2.426705,16z/data=!3m1!4b1!4m13!1m7!3m6!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!2z0J_QsNGA0LjQtiwg0KTRgNCw0L3RhtC40Y8!3b1!8m2!3d48.856614!4d2.3522219!3m4!1s0x47e66b7ab0ba8141:0x599625b8464d8d58!8m2!3d48.9441996!4d2.4303828" style="font-family: 'Quicksand', sans-serif;
            font-family: 'Rajdhani', sans-serif; text-decoration: none;">View Map ></a>
        </div>
        <div style="margin-left: 150px; margin-top: 20px;">
            <h4 style="font-family: 'Varela Round', sans-serif; background: #CF0000;
            background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">New York</h4>
            <p style="font-family: 'Quicksand', sans-serif; margin-top: 10px;">100 W 33rd St, New York, NY 10001, USA</p>
            <p style="font-family: 'Quicksand', sans-serif; margin-top: 10px;">Monday-Friday, 10:00am - 6pm</p>
            <a href="https://www.google.com/maps/place/Manhattan+Mall,+100+W+33rd+St,+New+York,+NY+10001,+%D0%A1%D0%A8%D0%90/@40.7491267,-73.9915275,17z/data=!4m13!1m7!3m6!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!3b1!8m2!3d40.7127753!4d-74.0059728!3m4!1s0x89c259aed1f07369:0x879d8059f304ca97!8m2!3d40.7491267!4d-73.9893388" style="font-family: 'Quicksand', sans-serif; font-family: 'Rajdhani', sans-serif; text-decoration: none;">View Map ></a>
        </div>
        <div style="margin-left: 150px; margin-top: 20px;">
            <h4 style="font-family: 'Varela Round', sans-serif; background: #CF0000;
            background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Almaty</h4>
            <p style="font-family: 'Quicksand', sans-serif; margin-top: 10px;">Abylay Khan str, 1/1, Kaskelen</p>
            <p style="font-family: 'Quicksand', sans-serif; margin-top: 10px;">Monday-Friday, 10:00am - 6:30pm</p>
            <a href="https://www.google.com/maps/place/%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82+%D0%A1%D1%83%D0%BB%D0%B5%D0%B9%D0%BC%D0%B0%D0%BD+%D0%94%D0%B5%D0%BC%D0%B8%D1%80%D0%B5%D0%BB%D1%8F/@43.2077418,76.6690542,17z/data=!3m1!4b1!4m5!3m4!1s0x38834f7675d8a6c3:0x7b7d14aec270c056!8m2!3d43.2077418!4d76.6690542" style="font-family: 'Quicksand', sans-serif; font-family: 'Rajdhani', sans-serif; text-decoration: none;">View Map ></a>
        </div>
    </div>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.0831306929!2d76.66686551506297!3d43.2077456891393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38834f7675d8a6c3%3A0x7b7d14aec270c056!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQodGD0LvQtdC50LzQsNC9INCU0LXQvNC40YDQtdC70Y8!5e0!3m2!1sru!2skz!4v1639728720063!5m2!1sru!2skz"
            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <a href="https://goo.gl/maps/NgroCiVDCq8RbgYP6" class="button7" style="background-color:rgb(139, 25, 25)">Get Directions</a>
    </div>
</div>
{% endblock content %}