{% extends 'store/main.html' %} {% load static %} {% block content %}
<div>
    <img src="{% static  'images/avatar.jpg' %}" width="950px" style="margin-left: 250px; margin-top: -10px;">
</div>

<br>

<div style="display: flex; margin-left: 80px; margin-top: 20px;">
    <div><img src="{% static  'images/1.jpg' %}" width="350px" style="padding: 20px; margin-left: 70px;"></div>
    <div><img src="{% static  'images/2.jpg' %}" width="350px" style="padding: 20px; margin-left: 15px;"></div>
    <div><img src="{% static  'images/3.jpg' %}" width="350px" style="padding: 20px; margin-left: 40px;"></div>
</div>
<div style="display: flex; margin-left: 70px; margin-top: 10px;">
    <div style="margin-left: 100px;">
        <h4 style="font-family: 'Quicksand', sans-serif; background: #CF0000;
        background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">Christopher Myers:</h4>
        <h4 style="font-family: 'Quicksand', sans-serif; background: #CF0000;
        background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">I Dare Not Appear</h4>
        <p style="font-family: 'Raleway', sans-serif; margin-top: 10px;">Frieze No:9 Cork Street</p>
        <p style="font-family: 'Raleway', sans-serif;">26 October - 3 November 2022</p>
    </div>
    <div style="margin-left: 150px; margin-top: 20px;">
        <h4 style="font-family: 'Quicksand', sans-serif; background: #CF0000;
        background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">A TRAVES</h4>
        <p style="font-family: 'Raleway', sans-serif; margin-top: 25px;">Gallery Exhibition At 52 Walker St</p>
        <p style="font-family: 'Raleway', sans-serif; margin-top: 10px;">22 May - 25 May 2022</p>
    </div>
    <div style="margin-left: 150px;">
        <h4 style="font-family: 'Quicksand', sans-serif; background: #CF0000;
        background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">NXTHVN 2021-2022 Studio</h4>
        <h4 style="font-family: 'Quicksand', sans-serif; background: #CF0000;
        background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">Fellows: Un/Common Proximity</h4>
        <p style=" font-family: 'Raleway', sans-serif; margin-top: 10px;">Gallery Exhibition At 48 Walker St</p>
        <p style="font-family: 'Raleway', sans-serif; margin-top: 10px;">25 August - 26 August 2022</p>
    </div>
</div>
<hr style="margin-bottom: 30px;">
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center pt-5" style="color: black; margin-bottom: 40px; font-family: 'Quicksand', sans-serif;">Statistics</h2>
        </div>
        <div class="row">
            <div class="row" style="font-family: 'Quicksand', sans-serif;">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="des-box">
                        <h1 class="title" style="color: white;font-family: 'Quicksand', sans-serif;">1000</h1>
                        <p class="description" style="color: white;font-family: 'Quicksand', sans-serif;">Sold Paintings</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" style="font-family: 'Quicksand', sans-serif;">
                    <div class="des-box">
                        <h1 class="title" style="color: white;font-family: 'Quicksand', sans-serif;">3</h1>
                        <p class="description" style="font-family: 'Quicksand', sans-serif;">Locations</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" style="font-family: 'Quicksand', sans-serif;">
                    <div class="des-box">
                        <h1 class="title" style="color: white;font-family: 'Quicksand', sans-serif;">5</h1>
                        <p class="description" style="font-family: 'Quicksand', sans-serif;">Years Of Work</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="des-box">
                        <h1 class="title" style="color: white;font-family: 'Quicksand', sans-serif;">50</h1>
                        <p class="description" style="font-family: 'Quicksand', sans-serif;">Workers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %} <hr> {% endcomment %}
{% comment %} <h2 style="margin-left: 80px; margin-top: 50px; font-family: 'Raleway', sans-serif; background: #CF0000;
background: linear-gradient(to right, #CF0000 0%, #C170FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;">Comments 📌</h2>
{% if not post%} 
    <h5 style="margin-left: 70px; font-family: 'Quicksand', sans-serif;">No Comments...</h5><br><a href="#" style="margin-left: 30px; font-family: 'Quicksand', sans-serif;">Add Comments...</a>
{% else %}
    {% for comment in post %}
    <br>
        <strong style="margin-left: 70px; font-size: 17px; font-family: 'Quicksand', sans-serif; color: red;">{{ comment.name }} - {{ comment.date_added }}</strong>
        <br>
        <p style="margin-left: 70px; margin-top: 5px; font-family: 'Quicksand', sans-serif; margin-bottom: 10px; font-size: 17px; padding-right: 60px;">📎 {{ comment.body }}</p>
    {% endfor %}
{% endif %}
<!-- <a href="" style="margin-left: 30px; font-family: 'Quicksand', sans-serif;">Add Comment</a> --> 
<br> {% endcomment %}
{% endblock content %}